/*downloaded fonts from website and copied CSS from stylesheet  */

@font-face {
  font-family: aktiv-grotesk;
  src: url(../fonts/aktiv-grotesk-upright-variable-weight.woff2) format("woff2");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: aktiv-grotesk;
  src: url(../fonts/aktiv-grotesk-italics-variable-weight.woff2) format("woff2");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-weight: 100 900;
  font-style: oblique;
  font-display: swap;
}
