footer {
  background-color: var(--color-black);
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 2rem 9rem 2rem;
  flex-direction: column;
}

footer h4 {
  font-size: calc(10rem / 16);
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer a {
  color: #fff;
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  footer {
    flex-direction: row;
  }
}
