header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid var(--greyborder);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--headerheight);
  padding: 1rem;
  z-index: 3;
}

nav {
  height: var(--navbarheight);
  margin-right: auto;
  margin-left: 1rem;
}

i.fa-logo-navbar {
  font-size: 1.5rem;
  color: var(--color-coral);
  font-style: normal;
  justify-self: start;
  grid-column-start: 1;
}

header input.searchfield,
header a.HeaderLoginLink,
header a.ButtonTypeLink {
  margin: 0 1rem;
}

header a.HeaderLoginLink,
header a.HeaderLoginLink:visited {
  font-size: 0.875rem;
  color: var(--grey);
  font-weight: 500;
}

header a.ButtonTypeLink {
}

input.searchfield {
  background-color: rgb(245, 244, 242);
  border: 0;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 6rem;
  position: relative;
  padding-left: 40px;
}
.searchfieldcontainer {
  position: relative;
  display: none;
}

.searchfieldcontainer::before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  display: block;
  position: absolute;
  bottom: 0;
  font-weight: 900;
  top: 8px;
  left: 25px;
  z-index: 1;
  color: var(--greyborder);
}

/* Menu CSS based on https://css-tricks.com/solved-with-css-dropdown-menus/ */

ul.MenuTree {
  position: absolute;
  color: var(--navgreycolor);
  background-color: #fff;
  top: 0;
  left: 0;
  height: 100vh;
}

ul.MenuTree a {
  font-size: 1.1rem;
  color: var(--navgreycolor);
  font-weight: 500;
}

ul.MenuTree a:visited {
  color: var(--navgreycolor);
}

ul.MenuTree,
ul.MenuTree li ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* position: absolute; */
  /* height: 100vh; */
  width: 100%;
}

ul.MenuTree {
  display: none;
  margin-top: 65px;
}

ul.MenuTree.MenuVisible {
  display: block;
}

ul.MenuTree li ul {
  display: none;
}

ul.MenuTree li.DropdownVisible ul {
  display: block;
  margin-top: 1.5rem;
}

ul.MenuTree > li {
  margin: 0;
  padding: 1rem;
  /* border-width: 1px; */
  border-bottom: 1px solid var(--greyborder);
  padding-left: 1rem;
}

ul.MenuTree li.MenuItemDropdown {
  padding-right: 1.4rem;
  background-image: url(../images/arrow-down.svg);
  background-size: 1.5rem 1.5rem;
  /* background-position: right; */
  background-position-y: 1rem;
  background-position-x: 88%;
  background-repeat: no-repeat;
}

ul.MenuTree li ul li {
  display: block;
  /* font-size: 0.875rem; */
  font-weight: 500;
  margin-bottom: 1rem;
}

ul.MenuTree li ul li span.MenuItemDescription {
  display: block;
  font-size: 0.875rem;
  font-weight: normal;
  margin-top: 1rem;
}

#hamburgermenu {
  /* display: inline-block; */
  vertical-align: top;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 2;
  position: relative;
  margin-right: 2rem;
}

#hamburgermenu span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
}

#hamburgermenu.MenuVisible span:first-child {
  transform: rotate(45deg) translate(-2px, -1px);
  transform-origin: 0% 0%;
  transition: transform 0.2s;
}

#hamburgermenu.MenuVisible span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.2s;
}

#hamburgermenu.MenuVisible span:last-child {
  transform-origin: 0% 0%;
  transform: rotate(-45deg) translate(-5px, -1px);
  transition: transform 0.2s;
}
@media (min-width: 576px) {
  .searchfieldcontainer {
    display: block;
  }
}

@media (min-width: 992px) {
  ul.MenuTree {
    display: block;
    position: relative;
    margin-top: 0;
  }

  #hamburgermenu {
    display: none;
  }

  ul.MenuTree li ul li a {
    display: block;
  }

  ul.MenuTree a {
    font-size: 0.875rem;
  }

  ul.MenuTree > li {
    display: inline-block;
    position: relative;
    height: 3rem;
  }

  ul.MenuTree > li {
    display: inline-block;
    padding: 0 1rem;
    position: relative;
    height: 3rem;
    padding: 0 1rem;
    border: 0;
  }

  ul.MenuTree li ul li:first-child {
    margin: 1.5rem 0 1.5rem 0;
  }

  ul.MenuTree li ul li:last-child {
    margin: 0 1.5rem 1.5rem 0;
  }

  ul.MenuTree li ul.ItemsWithDescription li:first-child {
    margin: 1.5rem 1.5rem var(--width-between-items-1st-dropdown) 0;
  }

  ul.MenuTree li ul.ItemsWithDescription li:last-child {
    margin: var(--width-between-items-1st-dropdown) 1.5rem 1.5rem 0;
  }

  ul.MenuTree {
    height: 2.75em;
  }
  ul.MenuTree li.MenuItemDropdown {
    padding-right: 1.4rem;
    background-image: url(../images/arrow-down.svg);
    background-size: 1rem 1rem;
    background-position-y: 0.3rem;
    background-position-x: 95%;
    background-repeat: no-repeat;
  }

  ul.MenuTree li > ul {
    display: block;
    position: absolute;
    top: var(--navbarheight);
    width: max-content;
    height: 0px;
    overflow: hidden;
    transition: height 0.2s;
    z-index: 1;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 15%) 0px 8px 24px;
    max-width: 14rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  ul.MenuTree li ul li {
    padding-left: 1rem;
  }

  ul.MenuTree li:hover > ul,
  ul.MenuTree li ul:hover {
    height: max-content;
  }
}
