:root {
  --navbarheight: 1.2rem;
  --width-between-items-1st-dropdown: 2rem;
  --space-between-border-dropdowncontent: 1rem;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1 px solid var(--greyborder);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  padding: 1rem;
}

nav {
  height: var(--navbarheight);
  margin-right: auto;
  margin-left: 1rem;
  /* height: auto; */
}

i.fa-logo-navbar {
  font-size: 1.5rem;
  color: var(--color-coral);
  font-style: normal;
  justify-self: start;
  grid-column-start: 1;
}

/* Menu CSS based on https://css-tricks.com/solved-with-css-dropdown-menus/ */

ul.MenuTree {
  position: relative;
  color: var(--navgreycolor);
}

ul.MenuTree a {
  font-size: 0.875rem;
  color: var(--navgreycolor);
  font-weight: 500;
}

ul.MenuTree a:visited {
  color: var(--navgreycolor);
}

ul.MenuTree,
ul.MenuTree li ul {
  margin: 0;
  padding: 0;
}

ul.MenuTree li {
  margin: 0;
}

ul.MenuTree li.MenuItemDropdown {
  padding-right: 1.4rem;
  background-image: url(../images/arrow-down.svg);
  background-size: 0.8rem 0.8em;
  background-position: right;
  background-position-y: 0.42rem;
  background-repeat: no-repeat;
}

ul.MenuTree li ul li {
  display: block;
  font-size:0.875rem;
  font-weight:500;
  /* padding-top: 3rem; */
  padding-left: 1rem;
  /* padding-bottom: 1rem; */
}

ul.MenuTree li ul li span.MenuItemDescription {
  display: block;
  font-size:0.875rem;
  font-weight:normal;
}

ul.MenuTree li ul li a {
  display: block;
}

ul.MenuTree li ul li:hover {
  background-image: none;
}

ul.MenuTree li:hover > ul,
ul.MenuTree li ul:hover {
  /* display: block; */
}

header input.searchfield,
header a.HeaderLoginLink,
header a.ButtonTypeLink {
  margin: 0 2rem;
}

input.searchfield {
  background-color: rgb(245, 244, 242);
  border: 0 px;
  font-weight: 500;
  line-height: 1rem;
  padding-left: 0.75 rem;
  text-overflow: ellipsis;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  width: 13 rem;
  z-index: 900;
  font-size: 0.875rem !important;
}

@media (min-width: 992px) {
  ul.MenuTree {
    display: block;
  }

  ul.MenuTree > li {
    display: inline-block;
    margin: 0;
    padding: 0 1rem;
    position: relative;
    height: 3rem;
    /* margin-bottom: 3rem; */
  }

  ul.MenuTree,
  ul.MenuTree li ul {
    margin: 0;
    padding: 0;
  }

  ul.MenuTree li ul.ItemsWithDescription li:first-child
  {
    margin: var(--space-between-border-dropdowncontent) var(--space-between-border-dropdowncontent) var(--width-between-items-1st-dropdown) 0;
  }

  ul.MenuTree li ul.ItemsWithDescription li:last-child
  {
    margin: var(--width-between-items-1st-dropdown) 0  0 var(--space-between-border-dropdowncontent);
  }


  ul.MenuTree li ul li:first-child
  {
    margin-top: var(--space-between-border-dropdowncontent) var(--space-between-border-dropdowncontent) 0 var(--space-between-border-dropdowncontent);
  }

  ul.MenuTree li ul li:last-child
  {
    margin: 0 0 var(--space-between-border-dropdowncontent) 0;
  }

  ul.MenuTree {
    position: relative;
    display: block;
  }

  ul.MenuTree li > ul {
    display: block;
    position: absolute;
    top: var(--navbarheight);
    width: max-content;
    height: 0px;
    overflow: hidden;
    transition: height 0.2s;
    z-index: 1;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 15%) 0px 8px 24px;
    /* position: absolute; */
    max-width: 14rem;
    margin-top: 1rem;
    /* transform: translateY(10px); */
    /* padding: 1rem 1rem; */
    display: flex;
    flex-direction: column;
}
  }

  ul.MenuTree li:hover > ul,
  ul.MenuTree li ul:hover {
    transition: height 0.3s;
    /* display: block; */
    height: auto;
  }
}
