section p {
  line-height: 2;
}

.SectionBackgroundBlack {
  background-color: var(--color-black);
}

.SectionBackgroundBlack p {
  color: #fff;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: auto;
}

.SectionBackgroundBlack h2 {
  color: var(--color-coral);
  font-size: 3.5rem;
  line-height: 1.25;
  font-family: Walsheim, sans-serif;
  font-weight: 700;
  margin: 0;
}

#Section1 {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

#Section1 .section1left {
  width: 488px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5rem;
}

#Section1 img {
  width: 30.5rem;
  height: 17.4rem;
}

/* Am playing around with Grid here, this is not the best way to do this. But as it is an excercise I leave it for now*/

#Section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(342.5rem / 16);
  align-items: center;
}

section h2 {
  font-size: calc(42rem / 16);
}

#Section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Section3 p {
  width: calc(800rem / 16);
}
