section p {
  line-height: 2;
}

.SectionBackgroundBlack {
  background-color: var(--color-black);
}

.SectionBackgroundBlack p {
  color: #fff;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: auto;
}

.SectionBackgroundBlack h2 {
  color: var(--color-coral);
  font-size: 3.5rem;
  line-height: 1.25;
  font-family: Walsheim, sans-serif;
  font-weight: 700;
  margin: 0;
}

#Section1 {
  width: 100%;
  /* position:  relative; */
}

#Section1 .Section1FlexContainer {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  flex-direction: column;
  align-items: center;
}

#Section1 .section1left {
  width: 488px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5rem;
  margin-bottom: 4rem;
}

#Section1 img {
  width: 30.5rem;
  height: 17.4rem;
}

/* Am playing around with Grid here, this is not the best way to do this. But as it is an excercise I leave it for now*/

#Section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(342.5rem / 16);
  align-items: center;
}

section h2 {
  font-size: calc(42rem / 16);
  font-family: "Walsheim";
}

section h3 {
  color: var(--color-coral);
  font-size: calc(34rem / 16);
  font-family: "Walsheim";
}

#Section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Section3 p {
  width: calc(800rem / 16);
}

#Section2 form {
  width: 100%;
  max-width: calc(900rem / 16);
  display: flex;
}

#Section2 form input {
  width: 100%;
  margin-left: 2rem;
  margin-right: 3rem;
}

#Section2 form button {
  display: inline-block;
  background-color: #ff424d;
  border-radius: 9999px;
  color: #fff;
  font-weight: 500;
  border: 2px solid transparent;
  line-height: 1.9;
  padding: 0.46875rem 1rem;
  font-size: 0.875rem !important;
  width: max-content;
  padding: 0.5rem 1.5rem;
}

.sectionuserstory {
  display: flex;
  justify-content: center;
}

.UserStoryTitle {
  max-width: calc(460rem / 16);
  margin: 0 1rem;
}

.UserStoryPhoto {
  max-width: calc(400rem / 16);
}

.UserStoryPhoto img {
  max-width: 100%;
}

@media (min-width: 992px) {
  #Section1 {
    flex-direction: row;
  }
}
