@import url(header.css);
@import url(fonts.css);
@import url(sections.css);
@import url(footer.css);

:root {
  --color-coral: #ff424d;
  --greyborder: rgb(229, 227, 221); /* copied color code from source */
  --navgreycolor: rgb(36, 30, 18);
  --headerheight: 2.5rem;
  --color-black: #141518;
  --color-midnight: #241e12;
  --navbarheight: 1.2rem;
  --width-between-items-1st-dropdown: 2rem;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  padding-top: var(--headerheight);
  font-family: aktiv-grotesk, sans-serif;
  /* position: relative; */
  /* padding-right: 0; */
}

a {
  text-decoration: none;
}

a.ButtonTypeLink {
  /* just copied this from source via inspector */
  display: inline-block;
  background-color: #ff424d;
  border-radius: 9999px;
  color: #fff;
  font-weight: 500;
  border: 2px solid transparent;
  line-height: 1.9;
  padding: 0.46875rem 1rem;
  font-size: 0.875rem !important;
  width: max-content;
}

a.ButtonTypeLink:hover {
  color: var(--color-coral);
  border-color: var(--color-coral);
  background-color: #fff;
}

main {
  /* width: 100vw; */
}
