@import url(header.css);

:root {
  --color-coral: #ff424d;
  --greyborder: rgb(229, 227, 221); /* copied color code from source */
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

a.ButtonTypeLink {
  /* just copied this from source via inspector */
  display: inline-block;
  background-color: #ff424d;
  border-radius: 9999 px;
  color: #fff;
  font-weight: 500;
  border: 2 px solid transparent;
  line-height: 1.9;
  padding: 0.46875 rem 1 rem;
  font-size: 0.875rem !important;
}

a.ButtonTypeLink:hover {
  color: var(--color-coral);
  border-color: var(--color-coral);
  background-color: #fff;
}

.SectionBackgroundBlack {
  background-color: #000;
}
