:root {
  --color-coral: #ff424d;
  --color-blue: #006db9;
  --color-navy: #004c81;
  --color-midnight: #241e12;
  --color-smoke: #706c64;
  --color-aluminum: #b1aca3;
  --color-silver: #e5e3dd;
  --color-white: #fff;
  --color-black: #141518;
  --color-lightGrey: #e2e2e2;
  --color-midDarkGrey: #858585;
  --color-primary: #ff424d;
  --color-secondary: #006db9;
  --color-highlight: #e3effa;
  --color-brand: #ff424d;
  --color-brandLight: #fae7e8;
  --color-system: #004c81;
  --color-systemLight: #e1f0fa;
  --color-dark: #241e12;
  --color-gray1: #241e12;
  --color-gray2: #706c64;
  --color-gray3: #b1aca3;
  --color-gray4: #e5e3dd;
  --color-gray5: #f5f4f2;
  --color-light: #fff;
  --color-success: #1c8659;
  --color-successLight: #def5eb;
  --color-error: #cc323f;
  --color-errorLight: #faebec;
  --color-pageBackground: #fff;
  --color-translucentOverlay: rgba(0, 0, 0, 0.85);
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-transparent: transparent;
  --color-focusRing: #99d5ff;
  --color-memberfulBrand: #ef5028;
  --color-discordBlurple: #7289da;
  --color-facebookBlue: #1877f2;
  --color-googleRed: #db4437;
  --color-pinterestRed: #e60023;
  --color-redditRed: #ff4500;
  --color-spotifyGreen: #1ed760;
  --color-tumblrBlue: #36465d;
  --color-twitchPurple: #9147ff;
  --color-twitterBlue: #1da1f2;
  --color-youtubeRed: red;
  --color-highlight: #fcf8e3;
  --color-highlight-dark: #f8efbe;
  --color-primary-hover: #ff3845;
  --color-secondary-hover: #ffe4e6;
}
@font-face {
  font-family: aktiv-grotesk;
  src: url(https://c5.patreon.com/external/fonts/aktiv-grotesk/aktiv-grotesk-upright-variable-weight.woff2)
    format("woff2");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: aktiv-grotesk;
  src: url(https://c5.patreon.com/external/fonts/aktiv-grotesk/aktiv-grotesk-italics-variable-weight.woff2)
    format("woff2");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-weight: 100 900;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: Walsheim;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("GT Walsheim"),
    url(https://c5.patreon.com/external/fonts/gt-walsheim/GT-Walsheim-Bold.woff2)
      format("woff2"),
    url(https://c5.patreon.com/external/fonts/gt-walsheim/GT-Walsheim-Bold.woff)
      format("woff");
}
@font-face {
  font-family: Walsheim;
  font-style: oblique;
  font-weight: 700;
  font-display: swap;
  src: local("GT Walsheim"),
    url(https://c5.patreon.com/external/fonts/gt-walsheim/GT-Walsheim-Bold-Oblique.woff2)
      format("woff2"),
    url(https://c5.patreon.com/external/fonts/gt-walsheim/GT-Walsheim-Bold-Oblique.woff)
      format("woff");
}
